<section id="header">
    <a href="#" id="logo">FREAK MIND</a>

    <div>
      <ul id="navbar" class="topnav">
        <a href="#" id="close"><span class="material-symbols-outlined">close</span></a>
        <li>
          <a href="index">Home</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">Services</a>
        </li>
        <li>
          <a style="color: white;" id="contactbtn" href="contact">Contact Support</a>
        </li>
      </ul>
    </div>
    <div id="mobile">
      <span id="bar" class="material-symbols-outlined">menu</span>
    </div>
  </section>