<div>
    <ul>
        <% for (let i of details_list) { %>
            <li>
                <p>
                    <%= i.name %>
                </p>
                <p>
                    <%= i.phone%>
                </p>
                <p>
                    <%= i.gender%>
                </p>
                <p>
                    <%= i.lang%>
                </p>
            </li>
               
        <% } %>
    </ul>
</div>