<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FREAK MIND</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="style.css">
  
</head>

<body>

  <section id="header">
    <a href="#" id="logo">FREAK MIND</a>

    <div>
      <ul id="navbar" class="topnav">
        <a href="#" id="close"><span class="material-symbols-outlined">close</span></a>
        <li>
          <a href="index">Home</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">Services</a>
        </li>
        <li>
          <a style="color: white;" id="contactbtn" href="contact">Contact Support</a>
        </li>
      </ul>
    </div>
    <div id="mobile">
      <span id="bar" class="material-symbols-outlined">menu</span>
    </div>
  </section>
  <section>
    <div class="carousel-container">
      <div class="images sl1" style="transition:1s">
        <p>Where Fiction Ends,</p>
        <p style="color:#8f184c;">We Begin</p>
        <i class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
        <br><a style="color: white;" id="contactbtn" href="contact">Contact Us</a>
      </div>
      <div class="images sl2">
        <p>Ignoring <span style="color:#8f184c;">Online Marketing</span> is Taking a Step Back</p>
        <i class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
        <br><a style="color: white;" id="contactbtn" href="contact">Contact Us</a>
      </div>
      <div class="images sl1">
        <p>Loren <span style="color:#8f184c;">Ipsum</span></p>
        <i class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
        <br><a style="color: white;" id="contactbtn" href="contact">Contact Us</a>
      </div>
      
      <a class="previous" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
  </section>
  <section id="content-1">
    <div id="con-1">
      <h5>WHY CHOOSE US</h5>
      <h2 style="color:#8f184c;">Where Fiction Ends, We Begin</h2>
      <p>At FREAKING MINDS, our team of digital experts helps you build a strong foundational presence for your brand through a simplistic yet systematic approach of enriching online/ offline branding. We work with brands, irrespective of their nature and scope of operation, and take care of their marketing process.</p>
      <br>
      <p>We understand the importance of a brand’s media presence [both offline and online] and by engaging with them we research, develop, and promote it on a bigger scale to optimize how the brand is perceived on a local or a global level.</p>
    </div>
    <div id="con-2">
      <ul>
        <li>
          <img src="images/con1.png" alt="">
          <h3>Social Media Marketing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </li>
        <li>
          <img src="images/con2.png" alt="">
          <h3>Brand Building</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </li>
        <li>
          <img src="images/con3.png" alt="">
          <h3>Graphic Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </li>
        <li>
          <img src="images/con4.png" alt="">
          <h3>Content Marketing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </li>
      </ul>
    </div>
  </section>


  <script src="script.js"></script>
</body>

</html>
